/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button:hover{
    -fx-background-color: #05F29B;
    
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.title{
	 -fx-text-fill: white;
}
.link{
	-fx-text-fill:#05F29B;
}